.cabeçalho {
    margin: 6em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabeçalho__titulo {
    color: var(--cor-botao-distaque);
}

.cabeçalho__titulo,
.cabeçalho__samp {
    font-weight: 600;
}

.cabeçalho__samp {
    margin: 1.5em 0;
    font-size: 48px;
    color: var(--cor-titulo-secundario);
}

.cabeçalho__texto {
    color: var(--cor-menu-texto);
    font-size: 20px;
    font-weight: 400;
    margin: 0 11em;
    line-height: 1.5;
    text-align: center;
}