@import url("/style/cabeçalho.css");

* {
    margin: 0;
    padding: 0;
}


:root {
    --fonte-principal: "Inter";
    --cor-backgroud: #FFFFFF;
    --cor-titulo: #3A404E;
    --cor-menu: #667085;
    --cor-botao-texto: #FFFFFF;
    --cor-botao-distaque: #8E2424;
}

body {
    background-color: var(--cor-backgroud);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}